@import "../../../global-styles/media";

.range-modal-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 353px;
    min-height: 133px;
    position: absolute;
    background: rgba(64, 64, 64, 0.96);
    border-radius: 5.72043px;
    padding: 12px 26px;
}

.range-enter-modal-body {
    min-height: 103px;
}

.range-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 240px;
}

.id-input {
    width: 100%;
    background: transparent;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24.3011px;
    line-height: 27px;
    color: #FFFFFF;

    margin-bottom: 10px;

    &:focus {
        outline: none;
    }
}

.range-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24.3011px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0 auto 14px;
    text-align: center;

    & > span {
        font-weight: normal;
    }
}

.normal-weight {
    font-weight: normal;
}

.range-question {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18.58064px;
    line-height: 20px;
    text-align: center;
    margin: 0 0 11px;
    color: #FFFFFF;
}

.range-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 53px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 23px;
}

.range-tip {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16.43548px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.input-value {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16.43548px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 18px;
    left: 2px;
}

.reverse-col {
    flex-direction: column-reverse;
}

.static-pos {
    position: static;
}

.split-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.input-range {
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    background: linear-gradient(to right, #6FCF97 0%, #6FCF97 0%, rgba(79, 79, 79, 0.62) 0%, rgba(79, 79, 79, 0.62) 100%);
    border-radius: 28.6021px;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #717171;
        cursor: pointer;
        margin-top: -3.1px;
    }

    &::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        border-radius: 28.6021px;
    }
}

.range-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: auto;
}

.range-btn {
    border-radius: 2.86021px;
    cursor: pointer;
    width: 180px;
    text-align: center;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17.86559px;
    line-height: 20px;
    padding: 3px 0;
    border: 1px solid transparent;

    &:focus {
        outline: none;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.red-btn {
    background: #FF6A6A;
}

.green-btn {
    background: #6FCF97;
}

@media screen and (min-width: $desktop) {
    .range-modal-body {
        min-width: 433px;
        min-height: 153px;
        border-radius: 6.72043px;
        padding: 14px 26px;
    }

    .range-enter-modal-body {
        min-height: 133px;
    }

    .range-body {
        min-width: 280px;
    }


    .range-header {
        font-size: 24.3011px;
        line-height: 28px;
        margin: 0 auto 17px;
    }

    .range-question {
        font-size: 20.58064px;
        line-height: 22px;
        margin: 0 0 14px;
    }

    .range-input-wrapper {
        min-height: 57px;
    }

    .range-tip {
        font-size: 18.43548px;
        line-height: 19px;
    }

    .input-value {
        font-size: 18.43548px;
        line-height: 19px;
        top: 20px;
    }

    .input-range {
        height: 12px;
        border-radius: 28.6021px;

        &::-webkit-slider-thumb {
            height: 18px;
            width: 18px;
            margin-top: -4px;
        }

        &::-webkit-slider-runnable-track {
            height: 12px;
            -webkit-appearance: none;
            border-radius: 28.6021px;
        }
    }

    .range-btn {
        border-radius: 3.86021px;
        width: 150px;
        font-size: 19.86559px;
        line-height: 21px;
        padding: 3px 0;
    }
}

@media screen and (min-width: $ultra) {
    .range-modal-body {
        min-width: 495px;
        min-height: 186px;
        border-radius: 8px;
        padding: 17px 26px;
    }

    .range-enter-modal-body {
        min-height: 156px;
    }

    .range-body {
        min-width: 336px;
    }

    .range-header {
        font-size: 24px;
        line-height: 28px;
        margin: 0 auto 20px;
    }

    .range-question {
        font-size: 22px;
        line-height: 25px;
        margin: 0 0 16px;
    }

    .range-input-wrapper {
        min-height: 53px;
    }

    .range-tip {
        font-size: 19px;
        line-height: 21px;
    }

    .input-value {
        font-size: 19px;
        line-height: 21px;
        top: 12px;
    }

    .input-range {
        height: 14px;
        border-radius: 40px;

        &::-webkit-slider-thumb {
            height: 22px;
            width: 22px;
            margin-top: -4px;
        }

        &::-webkit-slider-runnable-track {
            height: 14px;
            border-radius: 40px;
        }
    }

    .range-btn {
        border-radius: 4px;
        width: 162px;
        font-size: 21px;
        line-height: 23px;
        padding: 4px 0;
    }
}

@media screen and (min-width: $ultraWide) {
    .range-modal-body {
        min-width: 633px;
        min-height: 238px;
        border-radius: 10px;
        padding: 21px 26px;
    }

    .range-enter-modal-body {
        min-height: 208px;
    }

    .range-body {
        min-width: 430px;
    }


    .range-header {
        font-size: 29.5914px;
        line-height: 35px;
        margin: 0 auto 25px;
    }

    .range-question {
        font-size: 25.3548px;
        line-height: 29px;
        margin: 0 0 20px;
    }

    .range-input-wrapper {
        min-height: 58px;
    }

    .range-tip {
        font-size: 21.5161px;
        line-height: 24px;
    }

    .input-value {
        font-size: 21.5161px;
        line-height: 24px;
        top: 14px;
    }

    .input-range {
        height: 18px;
        border-radius: 51.1828px;

        &::-webkit-slider-thumb {
            height: 28px;
            width: 28px;
            margin-top: -6px;
        }

        &::-webkit-slider-runnable-track {
            height: 18px;
            border-radius: 51.1828px;
        }
    }

    .range-btn {
        border-radius: 5.11828px;
        width: 173px;
        font-size: 24.0753px;
        line-height: 27px;
        padding: 5px 0;
    }
}

@media screen and (min-width: $max) {

    .range-modal-body {
        min-width: 837px;
        min-height: 314px;
        border-radius: 13.5273px;
        padding: 28px 26px;
    }

    .range-enter-modal-body {
        min-height: 288px;
    }

    .range-body {
        min-width: 568px;
    }


    .range-header {
        font-size: 33.8182px;
        line-height: 41px;
        margin: 0 auto 33px;
    }

    .range-question {
        font-size: 20.2909px;
        line-height: 25px;
        margin: 0 0 27px;
    }

    .range-input-wrapper {
        min-height: 70px;
    }

    .range-tip {
        font-size: 15.2182px;
        line-height: 19px;
    }

    .input-value {
        font-size: 15.2182px;
        line-height: 19px;
        top: 16px;
    }

    .input-range {
        height: 12px;
        border-radius: 67.6364px;

        &::-webkit-slider-thumb {
            height: 18px;
            width: 18px;
            margin-top: -3px;
        }

        &::-webkit-slider-runnable-track {
            height: 12px;
            border-radius: 67.6364px;
        }
    }

    .range-btn {
        border-radius: 6.76364px;
        width: 189px;
        padding: 7px 0;
    }
}