@import "../../../global-styles/media";

.range-modal-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 353px;
  min-height: 133px;
  position: absolute;
  background: rgba(64, 64, 64, 0.96);
  border-radius: 5.72043px;
  padding: 12px 26px;
}

.range-enter-modal-body {
  min-height: 103px;
}

.range-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 240px;
}

.id-input {
  width: 100%;
  background: transparent;
  border: 0.5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14.3011px;
  line-height: 17px;
  color: #FFFFFF;

  &:focus {
    outline: none;
  }
}

.range-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14.3011px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 auto 14px;
  text-align: center;
  & > span {
    font-weight: normal;
  }
}

.normal-weight {
  font-weight: normal;
}

.range-question {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 8.58064px;
  line-height: 10px;
  text-align: center;
  margin: 0 0 11px;
  color: #FFFFFF;
}

.range-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 23px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 23px;
}

.range-tip {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 6.43548px;
  line-height: 8px;
  text-align: center;
  color: #FFFFFF;
}

.input-value {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 6.43548px;
  line-height: 8px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 8px;
  left: 2px;
}

.reverse-col {
  flex-direction: column-reverse;
}

.static-pos {
  position: static;
}

.split-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}

.input-range {
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  background: linear-gradient(to right, #6FCF97 0%, #6FCF97 0%, rgba(79, 79, 79, 0.62) 0%, rgba(79, 79, 79, 0.62) 100%);
  border-radius: 28.6021px;

  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #717171;
    cursor: pointer;
    margin-top: -1.1px;
  }

  &::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    border-radius: 28.6021px;
  }
}

.range-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: auto;
}

.range-btn {
  border-radius: 2.86021px;
  cursor: pointer;
  width: 80px;
  text-align: center;
  color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 7.86559px;
  line-height: 10px;
  text-align: center;
  padding: 3px 0;
  border: 1px solid transparent;
  &:focus {
    outline: none;
  }
  &:disabled {
      opacity: 0.5;
  }
}

.red-btn {
  background: #FF6A6A;
}
.green-btn {
  background: #6FCF97;
}

@media screen and (min-width: $desktop) {
  .range-modal-body {
    min-width: 433px;
    min-height: 153px;
    border-radius: 6.72043px;
    padding: 14px 26px;
  }

  .range-enter-modal-body {
    min-height: 133px;
  }

  .range-body {
    min-width: 280px;
  }


  .range-header {
    font-size: 18.3011px;
    line-height: 22px;
    margin: 0 auto 17px;
  }

  .range-question {
    font-size: 10.58064px;
    line-height: 12px;
    margin: 0 0 14px;
  }

  .range-input-wrapper {
    min-height: 27px;
  }

  .range-tip {
    font-size: 8.43548px;
    line-height: 9px;
  }

  .input-value {
    font-size: 8.43548px;
    line-height: 9px;
    top: 10px;
  }

  .input-range {
    height: 6px;
    border-radius: 28.6021px;
    &::-webkit-slider-thumb {
      height: 9px;
      width: 9px;
      margin-top: -2px;
    }

    &::-webkit-slider-runnable-track {
      height: 6px;
      -webkit-appearance: none;
      border-radius: 28.6021px;
    }
  }

  .range-btn {
    border-radius: 3.86021px;
    width: 100px;
    font-size: 9.86559px;
    line-height: 11px;
    padding: 3px 0;
  }
}

@media screen and (min-width: $ultra) {
  .range-modal-body {
    min-width: 495px;
    min-height: 186px;
    border-radius: 8px;
    padding: 17px 26px;
  }

  .range-enter-modal-body {
    min-height: 156px;
  }

  .range-body {
    min-width: 336px;
  }


  .range-header {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 20px;
  }

  .range-question {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 16px;
  }

  .range-input-wrapper {
    min-height: 33px;
  }

  .range-tip {
    font-size: 9px;
    line-height: 11px;
  }

  .input-value {
    font-size: 9px;
    line-height: 11px;
    top: 12px;
  }

  .input-range {
    height: 7px;
    border-radius:  40px;
    &::-webkit-slider-thumb {
      height: 11px;
      width: 11px;
      margin-top: -2px;
    }

    &::-webkit-slider-runnable-track {
      height: 7px;
      border-radius:  40px;
    }
  }

  .range-btn {
    border-radius: 4px;
    width: 112px;
    font-size: 11px;
    line-height: 13px;
    padding: 4px 0;
  }
}

@media screen and (min-width: $ultraWide) {
  .range-modal-body {
    min-width: 633px;
    min-height: 238px;
    border-radius: 10px;
    padding: 21px 26px;
  }

  .range-enter-modal-body {
    min-height: 208px;
  }

  .range-body {
    min-width: 430px;
  }


  .range-header {
    font-size: 25.5914px;
    line-height: 31px;
    margin: 0 auto 25px;
  }

  .range-question {
    font-size: 15.3548px;
    line-height: 19px;
    margin: 0 0 20px;
  }

  .range-input-wrapper {
    min-height: 38px;
  }

  .range-tip {
    font-size: 11.5161px;
    line-height: 14px;
  }

  .input-value {
    font-size: 11.5161px;
    line-height: 14px;
    top: 14px;
  }

  .input-range {
    height: 9px;
    border-radius: 51.1828px;
    &::-webkit-slider-thumb {
      height: 14px;
      width: 14px;
      margin-top: -2px;
    }

    &::-webkit-slider-runnable-track {
      height: 9px;
      border-radius: 51.1828px;
    }
  }

  .range-btn {
    border-radius: 5.11828px;
    width: 143px;
    font-size: 14.0753px;
    line-height: 17px;
    padding: 5px 0;
  }
}

@media screen and (min-width: $max) {

  .range-modal-body {
    min-width: 837px;
    min-height: 314px;
    border-radius: 13.5273px;
    padding: 28px 26px;
  }

  .range-enter-modal-body {
    min-height: 288px;
  }

  .range-body {
    min-width: 568px;
  }


  .range-header {
    font-size: 33.8182px;
    line-height: 41px;
    margin: 0 auto 33px;
  }

  .range-question {
    font-size: 20.2909px;
    line-height: 25px;
    margin: 0 0 27px;
  }

  .range-input-wrapper {
    min-height: 50px;
  }

  .range-tip {
    font-size: 15.2182px;
    line-height: 19px;
  }

  .input-value {
    font-size: 15.2182px;
    line-height: 19px;
    top: 16px;
  }

  .input-range {
    height: 12px;
    border-radius: 67.6364px;
    &::-webkit-slider-thumb {
      height: 18px;
      width: 18px;
      margin-top: -3px;
    }

    &::-webkit-slider-runnable-track {
      height: 12px;
      border-radius: 67.6364px;
    }
  }

  .range-btn {
    border-radius: 6.76364px;
    width: 189px;
    font-size: 18.6px;
    line-height: 23px;
    padding: 7px 0;
  }
}