@import "../../global-styles/mixin";
@import "../../global-styles/media";

.environment-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1 1 50%;
  max-height: 177px;
  max-width: 275px;
  overflow-y: auto;
}

.moved-env-class {
  .item-icon {
    width: 40px;
    height: 40px;
  }

  .item-name,
  .item-count {
    opacity: 0;
  }
}

.env-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 6px;
}

.evn-scroll-wrapper {
  height: calc(100% - 10px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: 3px;
  @include scrollstyles;
}

.draggable-env-item {
  display: flex;
  width: 100%;
}


.env-item-body {
  width: 100%;
  padding: 6px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(121, 121, 121, 0.17);
  border-radius: 1.90452px;
  margin-bottom: 6px;
  min-height: 21px;
  cursor: pointer;
}

.item-inner-wrapper {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
  &:last-of-type {
    flex-basis: 30%;
  }
}

.item-icon {
  width: 9px;
  height: 9px;
  margin-right: 4px;
}

.item-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.item-count {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
  display: block;
  margin-left: auto;
}

@media screen and (min-width: $desktop){
  .environment-body {
    max-height: 240px;
    max-width: 340px;
  }


  .env-title {
    font-size: 22px;
    line-height: 24px;
  }

  .env-item-body {
    padding: 9px 6px;
    border-radius: 2.90452px;
    margin-bottom: 9px;
    min-height: 28px;
  }

  .item-icon {
    width: 12.5px;
    height: 12.5px;
    margin-right: 5px;
  }

  .item-name {
    font-size: 19px;
    line-height: 21px;
  }

  .item-count {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (min-width: $ultra){
  .environment-body {
    max-height: 372px;
    max-width: 451px;
  }

  .env-title {
    font-size: 28px;
    line-height: 32px;
  }

  .env-item-body {
    padding: 12px 8px;
    border-radius: 4px;
    margin-bottom: 13px;
    min-height: 36px;
  }

  .item-icon {
    width: 16px;
    height: 16px;
    margin-right: 7px;
  }

  .item-name {
    font-size: 24px;
    line-height: 26px;
  }

  .item-count {
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (min-width: $ultraWide){
  .environment-body {
    max-height: 442px;
    max-width: 471px;
  }


  .env-title {
    font-size: 34px;
    line-height: 36px;
  }

  .env-item-body {
    padding: 10px 6px;
    border-radius: 4px;
    margin-bottom: 13px;
    min-height: 38px;
  }

  .item-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .item-name {
    font-size: 26px;
    line-height: 29px;
  }

  .item-count {
    font-size: 24px;
    line-height: 27px;
  }
}

@media screen and (min-width: $max){
  .environment-body {
    max-height: 481px;
    max-width: 500px;
  }

  .env-title {
    font-size: 36px;
    line-height: 38px;
  }

  .env-item-body {
    padding: 16px 11px;
    border-radius: 5.17588px;
    margin-bottom: 16px;
    min-height: 48px;
  }

  .item-icon {
    width: 22px;
    height: 22px;
    margin-right: 9px;
  }

  .item-name {
    font-size: 29px;
    line-height: 22px;
  }

  .item-count {
    font-size: 26px;
    line-height: 29px;
  }
}

