@import "../../global-styles/media";

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 380px;
  max-width: 350px;
  min-width: 230px;
  width: 100%;
}

@media screen and (min-width: $desktop) {
  .right {
    max-height: 570px;
    max-width: 470px;
    min-width: 360px;
  }
}

@media screen and (min-width: $ultra) {
  .right {
    max-height: 793px;
    max-width: 595px;
    min-width: 495px;
  }
}

@media screen and (min-width: $ultraWide) {
  .right {
    max-height: 893px;
    max-width: 640px;
    min-width: 560px;
  }
}

@media screen and (min-width: $max) {
  .right {
    max-height: 1026px;
    max-width: 795px;
    min-width: 635px;
  }
}