@import "../../global-styles/media";

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 380px;
  flex: 2 1 233px;
  max-width: 250px;
  min-width: 230px;
}

@media screen and (min-width: $desktop) {
  .right {
    max-height: 570px;
    max-width: 370px;
    min-width: 360px;
  }
}

@media screen and (min-width: $ultra) {
  .right {
    max-height: 793px;
    max-width: 495px;
    min-width: 495px;
  }
}

@media screen and (min-width: $ultraWide) {
  .right {
    max-height: 893px;
    max-width: 540px;
    min-width: 560px;
  }
}

@media screen and (min-width: $max) {
  .right {
    max-height: 1026px;
    max-width: 635px;
    min-width: 635px;
  }
}