@import "../../global-styles/media";

.modal-back {
  position: fixed;
  background-color: rgba(20, 20, 20, 0.76);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.context-menu-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 190px;
  height: 235px;
  position: absolute;
}

.modal-menu-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 190px;
  min-height: 186px;
  position: absolute;
  background: rgba(64, 64, 64, 0.96);
  border-radius: 8px;
  padding: 10px 26px;
}

.center-pos {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.context-menu-item {
  width: 100%;
  min-height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14.1807px;
  line-height: 17px;
  background: rgba(16, 16, 16, 0.89);
  border-radius: 4.72691px;
  margin-bottom: 2px;
  cursor: pointer;
  text-align: center;
}
