@import "../../global-styles/mixin";
@import "../../global-styles/media";

.inventory-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  width: 42px;
  background: rgba(121, 121, 121, 0.17);
  border-radius: 2.63703px;
}

.moved-class {
  .cell-img {
    width: 40px;
    height: 40px;
  }
  .cell-head,
  .cell-head,
  .cell-count {
    opacity: 0;
  }
}

.inv-draggable-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 42px;
  max-height: 42px;
  justify-content: space-between;
  padding: 1px 5px;
  cursor: pointer;
}

.cell-head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 3.05433px;
  line-height: 4px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.cell-img {
  width: 23px;
  height: 23px;
}

.cell-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.center-content {
  justify-content: center;
}

.cell-count {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 4.28518px;
  line-height: 5px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: $desktop) {
  .inventory-cell {
    height: 66px;
    width: 66px;
    border-radius: 3.63703px;
  }

  .inv-draggable-item {
    padding: 2px 7px;
    max-width: 66px;
    max-height: 66px;
  }

  .cell-head {
    font-size: 4.05433px;
    line-height: 7px;
    text-align: center;
  }

  .cell-img {
    width: 36px;
    height: 36px;
  }

  .cell-count {
    font-size: 6.28518px;
    line-height: 7px;
  }
}

@media screen and (min-width: $ultra) {
  .inventory-cell {
    height: 90px;
    width: 90px;
    border-radius: 4px;
  }

  .inv-draggable-item {
    padding: 3px 11px;
    max-width: 90px;
    max-height: 90px;
  }

  .cell-head {
    font-size: 6.41489px;
    line-height: 8px;
  }

  .cell-img {
    width: 49px;
    height: 49px;
  }

  .cell-count {
    font-size: 9px;
    line-height: 11px;
  }
}

@media screen and (min-width: $ultraWide) {
  .inventory-cell {
    height: 100px;
    width: 100px;
    border-radius: 4px;
  }

  .inv-draggable-item {
    padding: 3px 11px;
    max-width: 100px;
    max-height: 100px;
  }

  .cell-head {
    font-size: 7.41489px;
    line-height: 9px;
  }

  .cell-img {
    width: 55px;
    height: 55px;
  }

  .cell-count {
    font-size: 10px;
    line-height: 12px;
  }
}

@media screen and (min-width: $max) {
  .inventory-cell {
    height: 116px;
    width: 116px;
    border-radius: 7.1666px;
  }

  .inv-draggable-item {
    padding: 5px 18px;
    max-width: 116px;
    max-height: 116px;
  }

  .cell-head {
    font-size: 8.29435px;
    line-height: 10px;
  }

  .cell-img {
    width: 62px;
    height: 62px;
  }

  .cell-count {
    font-size: 11.6457px;
    line-height: 14px;
  }
}