@import "../../global-styles/mixin";
@import "../../global-styles/media";

.inventory-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  width: 62px;
  background: rgba(121, 121, 121, 0.17);
  border-radius: 2.63703px;
}

.moved-class {
  .cell-img {
    width: 40px;
    height: 40px;
  }
  .cell-head,
  .cell-head,
  .cell-count {
    opacity: 0;
  }
}

.inv-draggable-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 62px;
  max-height: 62px;
  justify-content: space-between;
  padding: 1px 5px;
  cursor: pointer;
}

.cell-head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13.05433px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  width: calc(100% - 1px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell-img {
  width: 33px;
  height: 33px;
}

.cell-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center-content {
  justify-content: center;
}

.cell-count {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14.28518px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: $desktop) {
  .inventory-cell {
    height: 86px;
    width: 86px;
    border-radius: 3.63703px;
  }

  .inv-draggable-item {
    padding: 2px 7px;
    max-width: 86px;
    max-height: 86px;
  }

  .cell-head {
    font-size: 16.05433px;
    line-height: 19px;
    text-align: center;
  }

  .cell-img {
    width: 46px;
    height: 46px;
  }

  .cell-count {
    font-size: 16.28518px;
    line-height: 17px;
  }
}

@media screen and (min-width: $ultra) {
  .inventory-cell {
    height: 110px;
    width: 110px;
    border-radius: 4px;
  }

  .inv-draggable-item {
    padding: 3px 11px;
    max-width: 110px;
    max-height: 110px;
  }

  .cell-head {
    font-size: 21.41489px;
    line-height: 24px;
  }

  .cell-img {
    width: 59px;
    height: 59px;
  }

  .cell-count {
    font-size: 19px;
    line-height: 21px;
  }
}

@media screen and (min-width: $ultraWide) {
  .inventory-cell {
    height: 130px;
    width: 130px;
    border-radius: 4px;
  }

  .inv-draggable-item {
    padding: 3px 11px;
    max-width: 130px;
    max-height: 130px;
  }

  .cell-head {
    font-size: 24.41489px;
    line-height: 26px;
  }

  .cell-img {
    width: 65px;
    height: 65px;
  }

  .cell-count {
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (min-width: $max) {
  .inventory-cell {
    height: 146px;
    width: 146px;
    border-radius: 7.1666px;
  }

  .inv-draggable-item {
    padding: 5px 18px;
    max-width: 146px;
    max-height: 146px;
  }

  .cell-head {
    font-size: 28.29435px;
    line-height: 30px;
  }

  .cell-img {
    width: 72px;
    height: 72px;
  }

  .cell-count {
    font-size: 21.6457px;
    line-height: 24px;
  }
}