@import "../../global-styles/media";


.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 112px 92px;
  justify-content: space-between;
}

.hidden {
  width: 0.01px;
  height: 0.01px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

@media screen and (min-width: $desktop) {
  .main {
    padding: 212px 192px;
  }
}

@media screen and (min-width: $ultra) {
  .main {
    padding: 136px 311px;
  }
}

@media screen and (min-width: $ultraWide) {
  .main {
    padding: 0;
    width: 100%;
    max-width: 1675px;
    margin: 0 auto;
  }
}