@import '../../global-styles/media';

.body-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../../img/human800.png");
  background-position-y: 28%;
  background-position-x: 76%;
  background-repeat: no-repeat;
}

.body-item-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  min-height: 32px;
  margin-bottom: 3px;
  &:nth-of-type(4) {
    margin-bottom: 16px;
  }
  &:nth-of-type(5) {
    margin-bottom: 10px;
  }
  &:nth-of-type(8) {
    margin-bottom: 12px;
  }
  &:nth-of-type(9) {
    margin-bottom: 8px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $desktop) {
  .body-wrapper {
    background-image: url("../../img/human1200.png");
    background-position-y: 21%;
    background-position-x: 70%;
    background-size: 53%;
  }

  .body-item-row {
    grid-gap: 3px;
    margin-bottom: 4px;
    min-height: 42px;
    &:nth-of-type(4) {
      margin-bottom: 18px;
    }
    &:nth-of-type(5) {
      margin-bottom: 12px;
    }
    &:nth-of-type(8) {
      margin-bottom: 14px;
    }
    &:nth-of-type(9) {
      margin-bottom: 10px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $ultra) {
  .body-wrapper {
    background-image: url("../../img/human1200.png");
    background-position-y: 26%;
    background-position-x: 76%;
    background-size: auto;
  }

  .body-item-row {
    grid-gap: 6px;
    margin-bottom: 6px;
    min-height: 65px;
    &:nth-of-type(4) {
      margin-bottom: 34px;
    }
    &:nth-of-type(5) {
      margin-bottom: 21px;
    }
    &:nth-of-type(8) {
      margin-bottom: 27px;
    }
    &:nth-of-type(9) {
      margin-bottom: 17px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $ultraWide) {

  .body-wrapper {
    background-image: url("../../img/human1200.png");
    background-position-y: 28%;
    background-position-x: 75%;
    background-size: 56%;
  }

  .body-item-row {
    grid-gap: 6.5px;
    margin-bottom: 6.5px;
    min-height: 75px;
    &:nth-of-type(4) {
      margin-bottom: 34px;
    }
    &:nth-of-type(5) {
      margin-bottom: 21px;
    }
    &:nth-of-type(8) {
      margin-bottom: 27px;
    }
    &:nth-of-type(9) {
      margin-bottom: 17px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $max) {

  .body-wrapper {
    background-image: url("../../img/human1200.png");
    background-position-y: 27%;
    background-position-x: 75%;
    background-size: 57%;
  }

  .body-item-row {
    grid-gap: 7.7px;
    margin-bottom: 7.7px;
    min-height: 85px;
    &:nth-of-type(4) {
      margin-bottom: 43px;
    }
    &:nth-of-type(5) {
      margin-bottom: 27px;
    }
    &:nth-of-type(8) {
      margin-bottom: 34px;
    }
    &:nth-of-type(9) {
      margin-bottom: 22px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}