@import "../../global-styles/media";
@import "../../global-styles/mixin";

.inventory-scroll-wrapper {
  display: flex;
  height: max-content;
  flex-direction: column;
}

.inventory-scroll-wrapper-inv {
  overflow-y: auto;
  @include scrollstyles;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(max-content, 62px);
  max-height: 236px;
  margin-bottom: 7.5px;
  grid-gap: 3.33px;
}


@media screen and (min-width: $desktop) {
  .inventory-scroll-wrapper-inv {
    grid-auto-rows: minmax(max-content, 86px);
    max-height: 312px;
    margin-bottom: 12.5px;
    grid-gap: 6.33px;
  }
}

@media screen and (min-width: $ultra) {
  .inventory-scroll-wrapper-inv {
    grid-auto-rows: minmax(max-content, 110px);
    max-height: 390px;
    margin-bottom: 16px;
    grid-gap: 10px;
  }
}

@media screen and (min-width: $ultraWide) {
  .inventory-scroll-wrapper-inv {
    grid-auto-rows: minmax(max-content, 130px);
    max-height: 424px;
    margin-bottom: 16px;
    grid-gap: 11px;
  }
}

@media screen and (min-width: $max) {
  .inventory-scroll-wrapper-inv {
    grid-auto-rows: minmax(max-content, 146px);
    max-height: 467px;
    margin-bottom: 20px;
    grid-gap: 13px;
  }
}