@import "../../global-styles/media";

.center {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 380px;
  flex: 1 1 156px;
  min-width: 156px;
  max-width: 156px;
  margin-right: 41px;
}

@media screen and (min-width: $desktop) {
  .center {
    max-height: 570px;
    min-width: 226px;
    max-width: 226px;
  }
}

@media screen and (min-width: $ultra) {
  .center {
    max-height: 793px;
    min-width: 328px;
    max-width: 328px;
  }
}

@media screen and (min-width: $ultraWide) {
  .center {
    max-height: 893px;
    min-width: 378px;
    max-width: 378px;
  }
}

@media screen and (min-width: $max) {
  .center {
    max-height: 1026px;
    min-width: 425px;
    max-width: 425px;
  }
}