@import "../../global-styles/media";

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 380px;
  min-width: 141px;
  max-width: 341px;
  flex: 1 1 150px;
  margin-right: 41px;
}

@media screen and (min-width: $desktop) {
  .left {
    max-height: 570px;
    min-width: 221px;
  }
}

@media screen and (min-width: $ultra) {
  .left {
    max-height: 793px;
    min-width: 290px;
    max-width: 390px;
  }
}

@media screen and (min-width: $ultraWide) {
  .left {
    max-height: 893px;
    min-width: 340px;
    max-width: 440px;
  }
}

@media screen and (min-width: $max) {
  .left {
    max-height: 1026px;
    min-width: 390px;
    max-width: 590px;
  }
}